NODE_ENV=development
PORT=5100

# MongoDB
MONGO_URI=mongodb+srv://vikasrajzd:vikasrajzd@cluster0.uyydgfg.mongodb.net/loan_management

# JWT
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5174

# Uploads
MAX_UPLOAD_SIZE_MB=20
